<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>appId</key>
		<string>c4753937</string>
		<key>appKey</key>
		<string>17a46e20204f62884100cc574e3ee824</string>
	</dict>
    <dict>
        <key>appId</key>
        <string>7b3c630e</string>
        <key>appKey</key>
        <string>e1497641b34f4a3fefc31f0c76839bf8</string>
    </dict>
    <dict>
        <key>appId</key>
        <string>a913b728</string>
        <key>appKey</key>
        <string>e74f2d3b8097cdf702d18cbe707e566d</string>
    </dict>
    <dict>
        <key>appId</key>
        <string>325bf5c8</string>
        <key>appKey</key>
        <string>f814a4b83f804bb0fdcc22a95c569ab5</string>
    </dict>
    <dict>
        <key>appId</key>
        <string>ed6776de</string>
        <key>appKey</key>
        <string>8d22c90ebfa0aed7d57eea8f29170550</string>
    </dict>
</array>
</plist>
