<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>linkShare</key>
	<string>https://itunes.apple.com/gb/app/gausssquad/id1218554626</string>
	<key>linkReview</key>
	<string>http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?id=1218554626&amp;type=Purple+Software&amp;mt=8</string>
	<key>hostOxford</key>
	<string>https://od-api.oxforddictionaries.com:443/api/v1</string>
	<key>oxfordSearch</key>
	<string>search</string>
	<key>oxfordEntries</key>
	<string>entries</string>
	<key>oxfordSynonyms</key>
	<string>entries</string>
</dict>
</plist>
