<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Times New Roman</string>
		<key>type</key>
		<dict>
            <key>regular</key>
            <string>TimesNewRomanPSMT</string>
            <key>bold</key>
            <string>TimesNewRomanPS-BoldMT</string>
            <key>italic</key>
            <string>TimesNewRomanPS-ItalicMT</string>
		</dict>
	</dict>
    <dict>
        <key>name</key>
        <string>Menlo</string>
        <key>type</key>
        <dict>
            <key>regular</key>
            <string>Menlo-Regular</string>
            <key>bold</key>
            <string>Menlo-Bold</string>
            <key>italic</key>
            <string>Menlo-Italic</string>
        </dict>
    </dict>
    <dict>
        <key>name</key>
        <string>Helvetica Neue</string>
        <key>type</key>
        <dict>
            <key>regular</key>
            <string>HelveticaNeue</string>
            <key>bold</key>
            <string>HelveticaNeue-Bold</string>
            <key>italic</key>
            <string>HelveticaNeue-Italic</string>
        </dict>
    </dict>
    <dict>
        <key>name</key>
        <string>Futura</string>
        <key>type</key>
        <dict>
            <key>regular</key>
            <string>Futura-Medium</string>
            <key>bold</key>
            <string>Futura-CondensedExtraBold</string>
            <key>italic</key>
            <string>Futura-MediumItalic</string>
        </dict>
    </dict>
    <dict>
        <key>name</key>
        <string>Avenir Next</string>
        <key>type</key>
        <dict>
            <key>regular</key>
            <string>AvenirNext-Regular</string>
            <key>bold</key>
            <string>AvenirNext-Bold</string>
            <key>italic</key>
            <string>AvenirNext-Italic</string>
        </dict>
    </dict>
    <dict>
        <key>name</key>
        <string>Arial</string>
        <key>type</key>
        <dict>
            <key>regular</key>
            <string>ArialMT</string>
            <key>bold</key>
            <string>Arial-BoldMT</string>
            <key>italic</key>
            <string>Arial-ItalicMT</string>
        </dict>
    </dict>
</array>
</plist>
