<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Adjective</key>
	<string>MSearchEntryItemAdjective</string>
	<key>Adverb</key>
	<string>MSearchEntryItemAdverb</string>
	<key>Combining Form</key>
	<string>MSearchEntryItemCombiningForm</string>
	<key>Conjunction</key>
	<string>MSearchEntryItemConjunction</string>
	<key>Contraction</key>
	<string>MSearchEntryItemContraction</string>
	<key>Determiner</key>
	<string>MSearchEntryItemDeterminer</string>
	<key>Idiomatic</key>
	<string>MSearchEntryItemIdiomatic</string>
	<key>Interjection</key>
	<string>MSearchEntryItemInterjection</string>
	<key>Noun</key>
	<string>MSearchEntryItemNoun</string>
	<key>Numeral</key>
	<string>RModelHomeEntriesItemNumeral</string>
	<key>Other</key>
	<string>RModelHomeEntriesItemOther</string>
	<key>Particle</key>
	<string>RModelHomeEntriesItemParticle</string>
	<key>Predeterminer</key>
	<string>RModelHomeEntriesItemPredeterminer</string>
	<key>Prefix</key>
	<string>RModelHomeEntriesItemPrefix</string>
	<key>Preposition</key>
	<string>RModelHomeEntriesItemPreposition</string>
	<key>Pronoun</key>
	<string>RModelHomeEntriesItemPronoun</string>
	<key>Residual</key>
	<string>RModelHomeEntriesItemResidual</string>
	<key>Suffix</key>
	<string>RModelHomeEntriesItemSuffix</string>
	<key>Verb</key>
	<string>MSearchEntryItemVerb</string>
</dict>
</plist>
